# how often to check for pings (seconds)
pingInterval: 5
# how often to check for price changes (seconds)
priceInterval: 60
# amount to invest in BTC, Bittrex minimum is 0.0005 = $1.24
investment: 0.000545
# skip buy if price < this * ping val
buyMin: 0.95
# max price willing to buy at (relative from cheapest)
buyMax: 1.005
# min price willing to sell at (relative from highest)
sellMin: 0.98
# max allowed bid/ask spread (ratio)
allowedGap: 1.05
# skip altcoins under min trade volume (BTC/mo)
minVolume: 1000
# sell if down this much from buy
sellBelow: 0.1
# sell if up this much from buy
sellAbove: 2.0
# always sell after a certain number of minutes
sellAfter: 60
# sell if down this much from max since buy
maxDrop: 0.1 # 0.975
# bid >+n% of buy price then down from max by n%: sell
maxDropPositive: 0.01
# only follow pings with a max age (in minutes)
maxAge: 5
# sell if the price doesn't live up to expectations over different time periods
fallRules:
  # mins: check over the last n minutes
  # rate: price change deciding keep/sell
  # - mins: 0.2
  #   rate: 0.995
  # - mins: 1.0
  #   rate: 0.999
  # - mins: 3.0
  #   rate: 1.0
  # - mins: 10.0
  #   rate: 1.01
  # - mins: 15.0
  #   rate: 1.02
  - mins: 1.0
    rate: 0.9
# sell when <-x% of buy price over y minutes
downRules:
  - mins: 15.0
    rate: 0.94
cryptoping:
  user: user@example.com
  pw: mypassword
wallets:
  BTC: ABCDEFGHIJKLMNOPQRSTUVWXYZ
exchanges:
  # # bittrex
  # "org.knowm.xchange.bittrex.v1.BittrexExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # # yobit
  # "org.knowm.xchange.yobit.YoBitExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # # poloniex
  # "org.knowm.xchange.poloniex.PoloniexExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ

  # "org.knowm.xchange.anx.v2.ANXExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.bitbay.BitbayExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.bitcoinaverage.BitcoinAverageExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.bitcoincharts.BitcoinChartsExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.bitcoinde.BitcoindeExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.bitcoinium.BitcoiniumExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.bitcurex.BitcurexExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.bitfinex.v1.BitfinexExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.bitkonan.BitKonanExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.bitmarket.BitMarketExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.bitso.BitsoExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.bitstamp.BitstampExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.bleutrade.BleutradeExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.blockchain.BlockchainExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.btc38.Btc38Exchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.btcchina.BTCChinaExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.btce.v3.BTCEExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.btcmarkets.BTCMarketsExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.btctrade.BTCTradeExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.bter.BTERExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.campbx.CampBXExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.ccex.CCEXExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.cexio.CexIOExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.chbtc.ChbtcExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.coinbase.CoinbaseExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.coinmate.CoinmateExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.cryptofacilities.CryptoFacilitiesExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.cryptonit.v2.CryptonitExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.empoex.EmpoExExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.gatecoin.GatecoinExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.gdax.GDAXExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # #"org.knowm.xchange.gemini.v1.GeminiExchange":
  # #  apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # #  secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.hitbtc.HitbtcExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.huobi.HuobiExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.independentreserve.IndependentReserveExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.itbit.v1.ItBitExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.jubi.JubiExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.kraken.KrakenExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.lakebtc.LakeBTCExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.livecoin.LivecoinExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.loyalbit.LoyalbitExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.mercadobitcoin.MercadoBitcoinExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.oer.OERExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.okcoin.OkCoinExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.paymium.PaymiumExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # #"org.knowm.xchange.quadrigacx.QuadrigaCxExchange":
  # #  apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # #  secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.quoine.QuoineExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.ripple.RippleExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.taurus.TaurusExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.therock.TheRockExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # #"org.knowm.xchange.vaultoro.VaultoroExchange":
  # #  apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # #  secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  # "org.knowm.xchange.vircurex.VircurexExchange":
  #   apikey: ABCDEFGHIJKLMNOPQRSTUVWXYZ
  #   secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ
